In [4]:
import pandas as pd

# Load the dataset
file_path = 'Baltimore_City_Employee_Salaries.csv'
df = pd.read_csv(file_path)

# Display the first few rows of the dataset
print("Original Dataset:")
print(df.head())

# Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

# Convert 'hireDate' column to datetime format
df['hireDate'] = pd.to_datetime(df['hireDate'], errors='coerce')

# Replace missing values with "N/A"
df = df.fillna("N/A")

# Display the cleaned dataset
print("\nCleaned Dataset:")
print(df.head())

# Save the cleaned dataset to a new CSV file

cleaned_file_path = 'C:/Users/VIVEK/Desktop/AIT 580/Cleaned_Baltimore_City_Employee_Salaries1
.csv'

df.to_csv(cleaned_file_path, index=False)
print(f"\nCleaned dataset saved to {cleaned_file_path}")

Original Dataset:
  lastName middleInitial      firstName                       jobClass  \
0    Aaron             D         Kareem       UTILITIES INST REPAIR II
1    Aaron             R          Lynda        ELECTION JUDGES REGULAR
2    Aaron             G       Patricia  FACILITIES/OFFICE SERVICES II
3   Abadir             O           Adam          OPERATIONS OFFICER II
4    Abaku             O  Aigbolosimuan             POLICE OFFICER EID

                                 agencyName agencyID  annualSalary   grossPay  \
0        Public Works - Water & Waste Water      A50       34115.0   44557.99
1                                       D01      D01           0.0     185.00
2  Mayor's Office of Employment Development      A03       63457.0   29461.96
3                         Health Department      A65       74299.0   85450.35
4                         Police Department      A99       68226.0  102775.97

     hireDate fiscalYear  ObjectId
0  2018-08-27     FY2021         1
1  2020-12-08     FY2021         2
2  1979-10-24     FY2021         3
3  2016-12-12     FY2021         4
4  2018-04-17     FY2021         5

Missing Values:
lastName           410
middleInitial    32992
firstName            0
jobClass           184
agencyName           0
agencyID             0
annualSalary         0
grossPay             0
hireDate             2
fiscalYear           0
ObjectId             0
dtype: int64

Cleaned Dataset:
  lastName middleInitial      firstName                       jobClass  \
0    Aaron             D         Kareem       UTILITIES INST REPAIR II
1    Aaron             R          Lynda        ELECTION JUDGES REGULAR
2    Aaron             G       Patricia  FACILITIES/OFFICE SERVICES II
3   Abadir             O           Adam          OPERATIONS OFFICER II
4    Abaku             O  Aigbolosimuan             POLICE OFFICER EID

                                 agencyName agencyID  annualSalary   grossPay  \
0        Public Works - Water & Waste Water      A50       34115.0   44557.99
1                                       D01      D01           0.0     185.00
2  Mayor's Office of Employment Development      A03       63457.0   29461.96
3                         Health Department      A65       74299.0   85450.35
4                         Police Department      A99       68226.0  102775.97

              hireDate fiscalYear  ObjectId
0  2018-08-27 00:00:00     FY2021         1
1  2020-12-08 00:00:00     FY2021         2
2  1979-10-24 00:00:00     FY2021         3
3  2016-12-12 00:00:00     FY2021         4
4  2018-04-17 00:00:00     FY2021         5

Cleaned dataset saved to C:/Users/VIVEK/Desktop/AIT 580/Cleaned_Baltimore_City_Employee_Salaries1.csv

In [5]:
df['lastName'].unique()

array(['Aaron', 'Abadir', 'Abaku', ..., 'Zachmann', 'Zakia', 'Zucker'],
      dtype=object)

In [6]:
df['middleInitial'].unique()

array(['D', 'R', 'G', 'O', 'N/A', 'A', 'W', 'N', 'M', 'H', 'E', 'J', 'S',
       'L', 'K', 'B', 'T', 'C', 'V', 'Y', 'P', 'Q', 'Z', 'I', 'F', 'U',
       'X', 'l', 'a', 'y', 'v', 'j', 'p', 'd', 't', '.', 's', 'e', 'h',
       'n', 'r', 'k', 'o', 'c', 'x', 'm', 'u', 'g', 'i', 'z', '1', '0',
       '2', '3', '4', '5', '6', '7', '8', '9', 'f', '-'], dtype=object)

In [1]:
df['middleInitial'] = df['middleInitial'].str.upper()

NameError: name 'df' is not defined

In [13]:
df['firstName'].unique()

array(['Kareem', 'Lynda', 'Patricia', ..., 'Laquoya', "Na'eemah", 'Qing'],
      dtype=object)

In [14]:
df['jobClass'].unique()

array(['UTILITIES INST REPAIR II', 'ELECTION JUDGES REGULAR',
       'FACILITIES/OFFICE SERVICES II', ...,
       'ENTERPRISE APPLICATION SYSTEMS', 'DIR BUREAU OF ANIMAL CONTROL',
       'COURT REPORTER'], dtype=object)

In [15]:
df['agencyName'].unique()

array(['Public Works - Water & Waste Water', 'D01',
       "Mayor's Office of Employment Development", 'Health Department',
       'Police Department', "State's Attorney's Office",
       'Transportation - Traffic', 'Fire Department', "Sheriff's Office",
       'Courts - Circuit Court', 'Recreation & Parks - Recreation',
       'Enoch Pratt Free Library', 'Housing & Community Development',
       'General Services', 'Comptroller - Audits',
       'Baltimore City Office of Information and Technology',
       'Transportation - Highways', 'Public Works - Solid Waste (weekly)',
       'Liquor License Board', 'Recreation & Parks - Administration',
       'Law Department', 'MOCFS', "Mayor's Office",
       'Transportation - Crossing Guards', 'Public Works - Solid Waste',
       'Retire - Fire & Police', 'Finance - Purchasing',
       'Convention Center', 'City Council',
       'Public Works - Administration', 'Human Resources', 'Planning',
       'Transportation Highways', 'Finance - Risk Management',
       "Mayor's Office of Homeless Services", "Courts - Orphan's Court",
       'Transportation - Towing', 'Comptroller - Real Estate',
       'Recreation & Parks - Parks', 'Finance - Collections',
       'Legislative Reference', 'Finance - Administration & Budgets',
       'Finance - Treasury', 'Comptroller',
       'Finance - Accounting & Payroll',
       'Office of Civil Rights and Wage Enforcement', 'Retire - ERS/EOS',
       'Environmental Control Board', 'W07 - OED - Youth Works',
       'Comptroller - Communication Services',
       "Labor Commissioner's Office", 'BCIT 311 Call Center',
       'Rec & Parks', 'Office of the Inspector General', 'R01',
       'SCS - Special City Services', 'Municipal Zoning & Appeals',
       'Community Relations (inactive)', 'Rec & Parks (Part-Time)',
       'Councilmatic Services', 'Cable & Communications', 'Elections',
       'HR Test Monitor', 'Una 01 (001)', 'BPD 1', 'FIN-RSP Admin (001)',
       'Youth Cust', 'TANF Cust', 'War Memorial Commission',
       'Wage Commissioner', 'HLTH-Emergency Medical Team'], dtype=object)

In [19]:
df['agencyID'].unique()

array(['A50', 'D01', 'A03', 'A65', 'A99', 'A29', 'A90', 'A64', 'A38',
       'A31', 'A04', 'A75', 'A06', 'A85', 'A24', 'A40', 'A49', 'B70',
       'A09', 'A67', 'A30', 'A10', 'A01', 'C90', 'A70', 'A54', 'A17',
       'A91', 'A02', 'A41', 'A83', 'A19', 'B49', 'A32', 'A08', 'A37',
       'A84', 'A15', 'A68', 'A14', 'A33', 'A23', 'A18', 'A16', 'A12',
       'A51', 'A52', 'A46', 'W07', 'A88', 'A26', 'A39', 'B68', 'A11',
       'R01', 'SCS', 'A73', 'P04', 'A57', 'A44', 'A35', 'P83', 'U01',
       'BPD', 'A53', 'W03', 'W08', 'A86', 'A9', 'A28', 'P65'],
      dtype=object)

In [20]:
df['annualSalary'].unique()

array([34115.,     0., 63457., ..., 36867., 48669., 48006.])

In [24]:
# Replace null values in 'annualSalary' with 0
df['annualSalary'] = df['annualSalary'].fillna(0)

# Verify the changes
print(df['annualSalary'].unique())

[34115.     0. 63457. ... 36867. 48669. 48006.]

In [25]:
df['grossPay'].unique()

array([44557.99,   185.  , 29461.96, ..., 71989.51, 53235.59, 95152.89])

In [26]:
df['hireDate'].unique()

array([Timestamp('2018-08-27 00:00:00'), Timestamp('2020-12-08 00:00:00'),
       Timestamp('1979-10-24 00:00:00'), ...,
       Timestamp('2008-10-08 00:00:00'), Timestamp('1977-06-29 00:00:00'),
       Timestamp('2004-10-01 00:00:00')], dtype=object)

In [29]:
# Convert 'hireDate' to datetime type
df['hireDate'] = pd.to_datetime(df['hireDate'], errors='coerce')

# Convert 'hireDate' to string and extract only the date part
df['hireDate'] = df['hireDate'].dt.strftime('%Y-%m-%d')

# Verify the changes
print(df['hireDate'].unique())

['2018-08-27' '2020-12-08' '1979-10-24' ... '2008-10-08' '1977-06-29'
 '2004-10-01']

In [30]:
df['fiscalYear'].unique()

array(['FY2021', 'FY2020', 'FY2019', 'FY2018', 'FY2017', 'FY2016',
       'FY2015', 'FY2014', 'FY2013', 'FY2012', 'FY2011'], dtype=object)

In [31]:
df['ObjectId'].unique()

array([     1,      2,      3, ..., 154185, 154186, 154187], dtype=int64)

In [37]:
# Replace null values in 'middleInitial' with 'N/A'
df['middleInitial'] = df['middleInitial'].fillna('N/A')
print(df['middleInitial'].unique())

['D' 'R' 'G' 'O' 'N/A' 'A' 'W' 'N' 'M' 'H' 'E' 'J' 'S' 'L' 'K' 'B' 'T' 'C'
 'V' 'Y' 'P' 'Q' 'Z' 'I' 'F' 'U' 'X' '.' '1' '0' '2' '3' '4' '5' '6' '7'
 '8' '9' '-']